page-about {
    .bg-image{
        background-image: url('../assets/imgs/splash.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: color($colors, primary);
    }

    .app-name-title {
        text-align: center;
        color: color($colors, light);
    }
}
