page-login {
  .input-cover{
    display: none !important;
    }

  .forgot-password {
    text-align: center;
  }

  .portada-login, tab-opciones {
    margin-top: -16px;
  }

  [ion-fixed] {
    height: 100%;
    width: 100%;
  }

  .or-login-with-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #A6ACAF;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  .login-with-title {
    text-align: center;
    color: #A6ACAF;
  }

  .or-login-with-title span {
    background: #fff;
    padding: 0 10px;
    color: #A6ACAF;
  }

  #wrapper {
    text-align: center;
  }

  .email-input {
    text-transform: lowercase !important;
    border-radius: 3px;
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  .swiper-slide {
      display: block;
  }

  ion-label, .select-text {
      margin-left: 10px;
  }

  .invalid {
      border: 1px solid #ea6153;
  }

  .invalid-input {
    color: #ea6153;
  }

  .accept-terms-checkbox {
    margin-right: 5px !important;
  }

  ion-checkbox .item-cover{
    display:none;
  }
}
