page-full-image {
  .contet-full-page{
	background-color: black;
  }
  
  .frame {
    height: 100%;
    white-space: nowrap;
    text-align: center;
    background-color: black;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .file-container {
    background: #3A6F9A;
    vertical-align: middle;
  }
}
