<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{buddyName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #pageContent>
  <ion-spinner [hidden]="!loading"></ion-spinner>

  <div class="chatwindow">
    <ion-list no-lines>

      <ion-item *ngFor="let msg of messages; let last = last;" id="{{msg.id}}" text-wrap class="msg-container" (press)="presentPopover($event, comment)">
        <ion-row>
          <ion-col col-12 text-wrap>
            <div class="bubble" [ngClass]="msg.senderId == uid ? 'me' : 'you'">
              <h3>{{ msg.message }}
                {{last ? callFunction() : ''}}
              </h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-item class="new-msg-item">
    <textarea #myInput id="myInput" class="chat-textarea" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="message" placeholder="Escribe un mensaje..."></textarea>
    <button ion-fab item-right (click)="sendMessage()" [disabled]="message==''" class="send-msg-button">
      <ion-icon name="md-send" color="light"></ion-icon>
    </button>
  </ion-item>
</ion-footer>