page-private-message {
    .col {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }

    .msg-preview {
        margin: 0 !important;
        width: 100%;
      }
    
      .msg-area {
        background-color: #EEEEEE;
        border-radius: 4px 4px 4px 4px;
        margin-right: 5px !important;
      }
    
      .scroll-content {
        padding: 0 !important;
      }
    
      .ion-card {
        box-shadow: none !important;
      }
    
      .msg-content {
        border-radius: 10px !important;
      }
    
      #myInput {
        background-color: #F2F2F2 !important;
        width: calc(100% - 10px);
        border: 1;
        border-radius: 15px !important;
        background: transparent;
        padding: 10px !important;
        border-color: #D8D8D8;
      }

  .bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
  }

  .me {
    float: right;
    margin: 5px 2px 2px 2px;
    background: color($colors, primary);
    color: color($colors, light);
  }

  .me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
  }

  .you {
    float: left;
    margin: 5px 0px 5px 0px;
  }

  .you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
  }

  .chatwindow {
    padding-bottom: 2px;
  }

  .msg-container .label {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .comment-button {
    margin: 1px 8px 1px 0 !important;
  }

  .new-comment-item .label{
    margin: 1px 8px 1px 0 !important;
  }

  .new-comment-item {
    padding-left: 5px !important;
  }

  .comment-textarea {
    width: 100% !important;
  }
}
