<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Seguir Chapas
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>

  <ion-list lines="none">
    <form [formGroup]="myForm">
      <ion-item>
        <ion-input #chapa id="chapa" required type="text" formControlName="control" placeHolder="Ingrese chapa sin espacios ej.: AAA001"  maxlength="10" text-uppercase [disabled]="!enableFollow"></ion-input>
      </ion-item>
      <button ion-button block (click)="addControl()" [disabled]="!enableFollow || !myForm.valid">Seguir</button>
    </form>

    <ion-spinner [hidden]="!loading"></ion-spinner>
    
    <ion-item text-center text-wrap *ngIf="notFollowingTags">No tienes chapas seguidas. Puedes seguir hasta un máximo de 10 chapas.</ion-item>

    <ion-item *ngFor="let control of keys;" class="chapa-item">

      <button ion-button block outline color="chapa" class="chapa">
        <ion-col col-10 text-center>
          {{ control }}
        </ion-col>

        <ion-col col-2 text-right>
          <button type="button" ion-button clear item-end (click)='confirmUnfollowTag(control)' style="height:32px;" >
            <ion-icon name="close-circle" style="font-size:32px;" color="danger"></ion-icon>
          </button>
        </ion-col>
      </button>

    </ion-item>
  </ion-list>

</ion-content>