page-follow-tags {
    .chapa {
        height: 35px !important;
        border-width: 2px;
    }
      
    .chapa-item .item-inner .input-wrapper .label {
        margin: 1px 8px 1px 0;
    }

    ion-spinner {
        display: block;
        margin: auto;
    }
}
