<ion-content padding>

  <div class="wrapper">
    <div class="avatar-container">
      <img-loader class="avatar-img" [src]="photoURL" useImg fallbackUrl="assets/imgs/default-profile.jpg" (click)="viewPhoto(photoURL)"></img-loader>
      <ion-spinner class="img-loader" *ngIf="loadingImage"></ion-spinner>
    </div>

    <div class="add-img-button" *ngIf="!differentUser" (click)="presentActionSheet()">
<label>
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="25px" height="25px" viewBox="0 0 548.165 548.165" style="enable-background:new 0 0 548.165 548.165;"
                  xml:space="preserve">
               <g>
                 <g>
                   <path d="M526.76,131.045c-14.277-14.274-31.498-21.413-51.675-21.413h-63.953l-14.558-38.826
                     c-3.618-9.325-10.229-17.368-19.846-24.128c-9.613-6.757-19.462-10.138-29.551-10.138H200.996
                     c-10.088,0-19.939,3.381-29.552,10.138c-9.613,6.76-16.225,14.803-19.842,24.128l-14.56,38.826H73.089
                     c-20.179,0-37.401,7.139-51.678,21.413C7.137,145.32,0,162.544,0,182.721v255.813c0,20.178,7.137,37.404,21.411,51.675
                     c14.277,14.277,31.5,21.416,51.678,21.416h401.989c20.177,0,37.397-7.139,51.675-21.416
                     c14.273-14.271,21.412-31.497,21.412-51.675V182.721C548.169,162.544,541.03,145.32,526.76,131.045z M364.446,400.993
                     c-25.029,25.03-55.147,37.548-90.362,37.548s-65.331-12.518-90.362-37.548c-25.031-25.026-37.544-55.151-37.544-90.358
                     c0-35.218,12.517-65.333,37.544-90.364c25.028-25.031,55.148-37.544,90.362-37.544s65.333,12.516,90.362,37.544
                     c25.03,25.028,37.545,55.146,37.545,90.364C401.991,345.842,389.477,375.964,364.446,400.993z"/>
                   <path d="M274.084,228.403c-22.651,0-42.018,8.042-58.102,24.128c-16.084,16.084-24.126,35.448-24.126,58.104
                     c0,22.647,8.042,42.014,24.126,58.098c16.084,16.081,35.45,24.123,58.102,24.123c22.648,0,42.017-8.042,58.101-24.123
                     c16.084-16.084,24.127-35.45,24.127-58.098c0-22.655-8.043-42.019-24.127-58.104C316.102,236.446,296.732,228.403,274.084,228.403
                     z"/>
                 </g>
               </g> <g>  </g>              <g>               </g>               <g>               </g>               <g>               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               </svg>
          </label>
    </div>
  </div>

  <ion-item text-center no-lines>
    <h1><a (click)="verPerfil()">{{displayName}}</a></h1>
    <p *ngIf="!differentUser"> {{email}} </p>
  </ion-item>

  <ion-grid *ngIf="differentUser">
    <ion-row justify-content-center>
      <ion-col col-auto>
        <button ion-button (click)="openPage('PrivateMessagePage', {buddyId: uid, buddyName: displayName})" round> <ion-icon name="md-mail"></ion-icon></button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button (click)="followUser()" outline round *ngIf="!following">Seguir</button>
        <button ion-button (click)="unFollowUser()" round *ngIf="following">Siguiendo</button>
      </ion-col>

      <ion-col col-auto>
        <button ion-button outline round><ion-icon name="ios-more"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="user-since" no-lines *ngIf="creationTime">
    <ion-icon item-left name="md-calendar"></ion-icon>
    Se unió en {{ formatCreationTime(creationTime) }}
  </ion-item>

  <ion-row text-center>
    <ion-col>Rango</ion-col>
    <ion-col>Puntos</ion-col>
    <ion-col>Alertas</ion-col>
  </ion-row>
    
  <ion-row text-center>
    <ion-col>{{range}}</ion-col>
    <ion-col>{{points}}</ion-col>
    <ion-col>{{alertsCount}}</ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col col-12 class="titulo-divisor">Últimas actividades</ion-col>
  </ion-row>

  

  <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let story of stories" text-wrap (click)="openStory(story)">
        <ion-avatar item-start>
        <img [src]="story.icon">
      </ion-avatar>
      {{ story.description }}
      <p>{{ story.createdAt | timeAgo }}</p>
    </ion-item>
    
  </ion-list>

  <ion-spinner [hidden]="!loading"></ion-spinner>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
