page-profile {
		
  .wrapper {
    text-align: center;
  }

  .avatar-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin-top: 10px;
  }

  .add-img-button {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    overflow: auto;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 10;
    top: 130px;
    right: calc(50% - 3.5rem - 30px);
	  padding: 5px;
    background-color: gray !important;
    border: 2px !important;
    border-color: white !important;
  }


.rounded-box {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.outer {
  width: 100% !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  margin: auto;
  background-color: #6eafd4;
  border-radius: 100%;
  position: relative;
  }

.inner {
  background-color: #ff1414;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inner:hover {
  background-color: #5555ff;
}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}
.inputfile + label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
.inputfile + label svg {
    fill: #fff;
}


  .camera-btn {
    min-height: 100%;
  }

  .titulo {
    float: left;
    width: 30%;
  }

  .titulos {
    width: 100%;
  }

  .contenedor-titulos {
    text-align: center;
    margin: 0;
  }

  .titulo-divisor {
    background-color: #EDEDED;
    padding-left: 5px;
  }

  ion-app.md [padding] .scroll-content {
    padding: 0px !important;
  }
  /*
  .avatar-container {
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    background-color: black !important;
    overflow: hidden;
  }

  .avatar-img {
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper {
    text-align: center;
  }
  
    .add-img-button {
    position: absolute !important;
    top: 7px !important;
    border-radius: 50% !important;
  }
  */
  .img-loader {
    position: absolute;
    top: 75px;
    /* Firefox */
    left: -moz-calc(50% - 13px);
    /* WebKit */
    left: -webkit-calc(50% - 13px);
    /* Opera */
    left: -o-calc(50% - 13px);
    /* Standard */
    left: calc(50% - 13px);
  }

  .alert-preview {
    margin: 0 !important;
    width: 100%;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .card-md {
    margin: 5px 0px !important;
    width: 100%;
  }

  ion-content.has-refresher > .scroll-content {
    background-color: #FAFAFA;
  }

  .item-cabecera, .item-pie {
    border-bottom: 1px solid #F2F2F2 !important;
  }

  .item-pie, .item-chapa {
    border-top: 1px solid #F2F2F2 !important;
  }

  .swiper-slide {
    margin: auto;
  }

  .image-container {
    max-width: 100% !important;
    padding-left: 0 !important;
  }

  .file-container {
    display: block;
    object-fit: cover;
  }

  .image-container > div {
    padding-right: 0px !important;
  }
  /* puede que no todos sean label-md o que afecte otros elementos */
  .label-md {
    margin-right: 0 !important;
  }

  .img-slide {
    max-height: 300px !important;
    height: 300px !important;
    background-color: black !important;
  }

  .chapa-span {
    color: #800000;
    border-radius: 2px 2px 2px;
    border: 1px solid #800000;
    display: inline-block;
    margin-right: 2px;
    padding: 2px;
  }

  .comments-col {
    text-align: right;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .user-since .item-inner {
    margin-left: 0px !important;
  }
}
