page-global-news-feed {

    .avatar-col, .user-name-col {
        padding: 0 !important;
      }
      
      .avatar-profile-img {
        margin-top: 0 !important;
      }
    
      .more-icon {
        padding: 0 !important;
        font-size: 2em;
        position: absolute;
        top: -5px;
        color: color($colors, primary) !important;
      }
    
      .user-name {
        font-weight: bold;
      }
    
      .alert-preview {
        margin: 0 !important;
        width: 100%;
      }
    
      .scroll-content {
        padding: 0 !important;
      }
    
      .card-md {
        margin: 5px 0px !important;
        width: 100%;
      }
    
      ion-content.has-refresher > .scroll-content {
        background-color: #FAFAFA;
      }
    
      .item-cabecera, .item-pie {
        border-bottom: 1px solid #F2F2F2 !important;
      }
    
      .item-pie, .item-chapa {
        border-top: 1px solid #F2F2F2 !important;
      }
    
      .swiper-slide {
        margin: auto;
      }
    
      .image-container {
        max-width: 100% !important;
        padding-left: 0 !important;
      }
    
      .file-container {
        display: block;
        object-fit: cover;
      }
    
      .image-container > div {
        padding-right: 0px !important;
      }
      /* puede que no todos sean label-md o que afecte otros elementos */
      .label-md {
        margin-right: 0 !important;
      }
    
      .img-slide {
        max-height: 300px !important;
        height: 300px !important;
        background-color: black !important;
      }
    
      .chapa-span {
        color: #800000;
        border-radius: 5px;
        border: 2px solid #800000;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 5px;
      }
    
      .comments-col {
        text-align: right;
      }
    
      ion-spinner {
        display: block;
        margin: auto;
      }
    
      .video-thumbnail {
        &:before {
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          content: "\f01d";
          font-family: FontAwesome;
          font-size: 50px;
          color: #fff;
          opacity: .8;
          text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        }
        &:hover:before {
          color: #eee;
        }
      }
    
      ion-col.col-foot {
          text-align: center;
      }
    
      .alert-header .label {
        margin-bottom: 0px !important;
      }
        
      .image-container .label {
        margin-top: 0px !important;
      }
    
      .progress-bar {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0px;
        z-index: 3 !important;
      }
    
      .fa {
        display: inline-block;
        font: normal normal normal 20px/1 FontAwesome;
        font-size: 20px !important;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
      }
}
