<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="comment" placeholder="Escribe un comentario..."></textarea>
  </ion-item>

  <button ion-button item-right outline (click)="addComment()">
    Cancelar
  </button>

  <button ion-button item-right (click)="addComment()" [disabled]="comment==''">
    Actualizar
  </button>
</ion-content>