<ion-header>

  <ion-navbar>
    <ion-title>Ayuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <ion-item><a>Administrar alertas</a></ion-item>
      <ion-item><a>Administrar tu perfil</a></ion-item>
      <ion-item><a>Seguir chapas</a></ion-item>
      <ion-item><a>Buscar alertas</a></ion-item>
  </ion-list>

</ion-content>
