page-map {
  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
  
  .ok-button, .cancel-button {
    position: absolute;
    bottom: 5px;
  }

  .ok-button {
    right: 5px;
  }

  .cancel-button {
    left: 5px;
    background-color: white;
  }
}
