<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mapa</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div #map id="map">
  </div>

  <button ion-button class="cancel-button" outline (click)="cancel()">Cancelar</button>
  <button ion-button class="ok-button" (click)="selectLocation()" [disabled]="!okButtonEnable">Ok</button>
</ion-content>
