// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.avatar-container {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 8rem;
  width: 8rem;
  display: inline-block;
  background-color: black !important;
  overflow: hidden;
}

.avatar-img {
  max-width: 100%;
  max-height: 100%;
}

.avatar-container-header {
  text-align: center;
  padding-top: 3px !important;
}

.username-item .label-md {
  margin-top: 0px !important;
  border-bottom: 1px solid #F2F2F2 !important;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.calendar-popover .popover-content {
  left: 5% !important;
  width: 90% !important;

  ion-backdrop {
    opacity: 0.4;
  }
}

.scroll-content {
  padding-bottom: 0 !important;
}

.action-sheet-group {
  border-radius: 10px !important;
  margin: 0px 2px 2px 2px !important;
}

.action-sheet-group .button-inner{
  -webkit-justify-content: center !important;
  justify-content: center !important;
}
  
.action-sheet-title{
  text-align: center !important;
  border-bottom: 2px solid #757575!important;
  border-color: #F2F2F2 !important;
}

.comments-modal {
  border-radius: 15px !important;
  overflow: hidden !important;
}

/* "prueba" */

ion-backdrop {
  opacity: 0.4;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 0.8em;
    height: 0.8em;
  }

  &[class*="custom-correct"] {
    mask-image: url(../assets/icon/correct.svg);
  }

}