<ion-content>

  <div *ngIf="rooms.length == 0">
    <ion-item text-wrap no-lines><h1>Envía un mensaje, recibe un mensaje</h1></ion-item>
    <ion-item text-wrap no-lines>Los Mensajes Directos son conversaciones privadas entre tu y otras personas en Debari.</ion-item>
    <div id="wrapper">
      <button ion-button round>Escribe un mensaje</button>
    </div>
  </div>

  <ion-list>
    <ion-item (press)="presentPopover($event, room)" class="alert-header" *ngFor="let room of rooms" (click)="openPage('PrivateMessagePage', {roomId: room.id, buddyId: room.buddyId, buddyName: room.buddyName})">
      <ion-row [ngClass]="room.unseenMsgs == 1 ? 'unseenRoom' : 'seenRoom'">
        <ion-col col-auto class="avatar-col">
          <ion-avatar item-start class="avatar-profile-img">
            <img-loader [src]="room.thumbnail" useImg fallbackUrl="assets/imgs/default-profile.jpg"></img-loader>
          </ion-avatar>
        </ion-col>

        <ion-col col-7 class="user-name-col">

          <h2 class="user-name">
            {{ room.buddyName }}
          </h2>

          <p>{{ room.message }}</p>
        </ion-col>

        <ion-col col-auto class="date-col">
          <p>{{pipeDate(room.date)}}</p>
        </ion-col>
      </ion-row>
  
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab primary (click)="openPage('PrivateMessagePage')"><ion-icon name="md-mail"></ion-icon></button>
  </ion-fab>
</ion-content>
