page-manage-alert {

  .location-label {
    margin: 13px 2px 13px 0 !important;
  }

  .location-input .text-input{
    margin: 8px 0px !important;
  }

  .item {
    padding-left: 0px !important;
  }

  .item-inner {
    margin-left: 0px !important;
 }

 .item-description .item-inner {
   padding-right: 0px !important;
 }

 .map-item {
	height: 200px !important;
	border-radius: 10px !important;
 }

 .map-item.files-item {
    padding-left: 16px !important;
 }

 .files-item .item-inner {
   padding-right: 0px !important;
 }

 .map-item .item-inner {
  padding-right: 0px !important;
}

 .files-item .item-inner .input-wrapper .label{
  margin: 13px 0 13px 0;
}

.map-item .item-inner .input-wrapper .label{
  margin: 13px 0 13px 0;
}

  .video-thumbnail {
    &:before {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
    &:hover:before {
      color: #eee;
    }
  }

  .img-preview-slide {
    height: 4.5em !important;
  }

  .file-container {
    width: 100% !important;
    height: 100% !important;
  }

  .delete-button-container {
    max-height: 0.5em;
    max-width: 0.5em;
  }

  .delete-button {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    font-size: 1%;
    border-radius: 50%;
    margin: 0px !important;
    height: auto !important;
  }

  .ion-tags-input .iti-input {
    width: 100%;
    font-size: inherit !important;
    padding: 0 !important;
  }

  .ion-tags-input {
    padding: 0 !important;
    border-bottom: 0 !important;
  }

  .iti-tags-wrap {
    overflow: scroll;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .swiper-container {
    border-radius: 10px !important;
  }

  .img-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  ion-textarea{
    border: solid 1px;
    border-radius: 5px;
    border-color: #dedede;
    margin-top: 5px;
  }
}
