<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		
    <form [formGroup]="alertForm" (ngSubmit)="saveAlert()">

      <ion-item (click)="presentPopover()">
        <ion-label>Fecha:</ion-label>
        <ion-input [(ngModel)]="alertDate" disabled text-right formControlName="alertDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hora:</ion-label>
        <ion-datetime displayFormat="HH:mm" formControlName="alertHour" [(ngModel)]="alertHour" cancelText="Cancelar" doneText="Listo"></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label>Categoría:</ion-label>
          <ion-select formControlName="alertType" [(ngModel)]="alertType" cancelText="Cancelar">
            <ion-option value="0">Notificación</ion-option>
            <ion-option value="1">Accidente</ion-option>
            <ion-option value="2">Infracción de ley de tránsito</ion-option>
            <ion-option value="3">Robo</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-tags-input text-uppercase maxTags="10" maxLength="10" formControlName="chapasNo" [(ngModel)]="chapasNo" (onChange)="onChange($event)" (ionBlur)="onBlur($event)" canBackspaceRemove="true" [separatorStr]="' '" placeholder="Chapas" [canEnterAdd]="true"></ion-tags-input>
      </ion-item>

      <ion-item no-lines class="item-description">
        <ion-label stacked>Descripción</ion-label>
        <ion-textarea formControlName="description" [(ngModel)]="description" class="campo-descripcion-alerta" rows="5" maxlength="600"></ion-textarea>
      </ion-item>

      <!--<ion-item class>-->
        <button ion-button (click)="presentActionSheet()" type="button" icon-start block>
          <ion-icon name="ios-camera"></ion-icon>
          Seleccionar Archivo
        </button>
      <!--</ion-item>-->

      <ion-item class="files-item" *ngIf="imgSlides.length>0 || loadingFile">
      <!--<ion-item class="files-item" *ngIf="alertForm.images.length>0">-->

        <ion-slides #slides slidesPerView="2" spaceBetween="1">

          <ion-slide *ngFor="let slide of imgSlides; let i = index" class="img-preview-slide"
            [ngClass]="slide.mediaType == 1 || slide.type == 'mp4' ? 'video-thumbnail' : ''" (click)="presentFullImageModal(slide, i)"
            [hidden]="slide.delete == 1">

            <img [src]="slide.thumbnail ? slide.thumbnail : slide.src" class="file-container">

            <button ion-button class="delete-button" type="button" (click)="deleteFile(i, $event)" clear>
              <ion-icon name="close-circle" style="font-size:20px;" color="danger"></ion-icon>
            </button>
          </ion-slide>

          <ion-slide *ngIf="loadingFile">
              <img src="assets/imgs/default.png" class="file-container">
              <ion-spinner class="img-loader"></ion-spinner>
          </ion-slide>

        </ion-slides>

      </ion-item>

      <ion-item (click)="openPage('MapPage')" class="mapa-item">
          <ion-icon name="ios-pin" item-left></ion-icon>
          <ion-label class="location-label">Ubicación:</ion-label>
          <ion-input class="location-input" [(ngModel)]="location" disabled text-left formControlName="location"></ion-input> 
      </ion-item>

      <ion-item class="map-item" [hidden]="!showMap" >
        <div #map id="map" item-content>

        </div>
      </ion-item>

      <input type="hidden" name="alertId">
      <button ion-button block type="submit" [disabled]="!alertForm.valid">Guardar</button>

    </form>

</ion-content>
