<ion-header>

  <ion-navbar color="primary">
    <ion-title>Resetear contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="resetForm" (ngSubmit)="sendResetEmail()">

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="!resetForm.controls.email.valid && (resetForm.controls.email.dirty)"></ion-input>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!resetForm.valid">Enviar</button>

  </form>

</ion-content>
