<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar mode="ios" (search)="search($event.target.value)" #mySearchbar [placeholder]="placeholderTitle">
      </ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list class="tab-opciones" *ngIf="searched">
    <ion-segment [(ngModel)]="option" (ionChange)="onSegmentChanged($event)" *ngIf="mode=='searchAll'">
      <ion-segment-button value="chapas">
        Alertas
      </ion-segment-button>
      <ion-segment-button value="users" >
        Usuarios
      </ion-segment-button>
    </ion-segment>
  </ion-list>

  <ion-item *ngIf="!searched && searchHistory.length>0">
    <p *ngIf="!searched"><b>Búsquedas recientes</b></p>
  </ion-item>
  
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!searched">
    <ion-item *ngFor="let item of searchHistory" (click)="search(item.pattern)" (press)="confirmDeleteSearchHistory(item.id)">

      <button ion-button *ngIf="item.is_tag == 'true'" color="danger" outline>
          {{item.pattern}}
      </button>

      <p *ngIf="item.is_tag == 'false'">{{item.pattern}}</p>
      
    </ion-item>
  </ion-list>

  <div [ngSwitch]="option">
    <ng-container *ngSwitchCase="'chapas'">
      <ion-card *ngFor="let alert of alerts" class="alert-preview" (click)="openPage('ViewAlertPage', {alert: alert})">
        <ion-item class="alert-header">
          <ion-avatar item-start (click)="openPage('ProfilePage', { uid: alert.uid })">
              <img-loader [src]="alert.userImg" useImg fallbackUrl="assets/imgs/default-profile.jpg"></img-loader>
          </ion-avatar>
          <h2>
              <span style="width:10%; display:inline-block;" (click)="openPage('ProfilePage', { uid: alert.uid })"><b> {{ alert.displayName }}</b>
                 <ion-icon *ngIf="alert.userChecked" name="custom-correct"></ion-icon>
              </span>
              <span style="text-align: right;width:85%; display:inline-block;"><a (click)="presentPopover($event, alert)"><ion-icon name="ios-more"></ion-icon></a></span>
          </h2>
          <p>{{ alert.registDate | timeAgo }} · <ion-icon name="md-globe"></ion-icon></p>
        </ion-item>

        <ion-item class="image-container" *ngIf="alert.images.length>0">
            <ion-slides pager (ionSlideNextStart)="loadNextImage(alert.id)" >
              <ion-slide *ngFor="let img of alert.images; let i = index" [ngClass]="img.thumbnail ? 'video-thumbnail img-slide' : 'img-slide'"(click)="viewFile(img)">
                <img-loader [src]="img.thumbnail ? img.thumbnail : img.src" useImg></img-loader>
              </ion-slide>
            </ion-slides>
          </ion-item>

        <ion-item class="item-chapa">
          <p><b> Fecha: </b> {{ alert.alertDate }} </p>
          <p *ngIf="alert.chapasNo.length>0"><b> Chapa: </b> <span class="chapa-span" *ngFor="let chapa of alert.chapasNo">{{ chapa }}</span> </p>
        </ion-item>

        <ion-card-content>
          <div *ngIf="alert.description.length <= readLimit">{{alert.description}}</div>
          <div *ngIf="alert.truncating && alert.description.length > readLimit">
            {{alert.description | truncate : readLimit}}
          </div>
        </ion-card-content>

        <ion-row style="height: 1.5em !important; padding-left: 0.9em !important;">
          <ion-col *ngIf="alert.likes>0">
            <ion-icon name="ios-thumbs-up" *ngIf="alert.likes>0"></ion-icon> {{alert.likes}}
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>

      </ion-card>
    </ng-container>

    <ng-container *ngSwitchCase="'users'">
      <ion-list>
        <ion-item class="alert-header" *ngFor="let user of users" (click)="openPage('ProfilePage', {uid: user.uid})">
          <ion-thumbnail item-start>
            <img-loader [src]="user.thumbnail" fallbackUrl="assets/imgs/default-profile.jpg" useImg></img-loader>
          </ion-thumbnail>
          <h2>
            <b> {{ user.displayName }}</b>
            <ion-icon *ngIf="user.checked" name="custom-correct"></ion-icon>
          </h2>
        </ion-item>
      </ion-list>
    </ng-container>

      <ion-item text-center *ngIf="noResultsFound">No se encontraron resultados</ion-item>
    </div>

    <ion-spinner [hidden]="!loading"></ion-spinner>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
