<ion-header>

  <ion-navbar>
    <ion-title>Mis datos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="dataForm" (ngSubmit)="saveData()">
    <ion-item>
      <ion-label>C.I.:</ion-label>
      <ion-input formControlName="ci" type="number" maxlength="8" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fec. Nac.:</ion-label>
      <ion-datetime formControlName="birthday" displayFormat="MM/DD/YYYY" min="1949" cancelText="cancelar" doneText="Listo" (onChange)="calculateAge()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-input formControlName="age" type="number" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tel.:</ion-label>
      <ion-input type="number" maxlength="14" formControlName="phoneNumber" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Dirección</ion-label>
      <ion-input formControlName="direction"></ion-input>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!dataForm.valid">Guardar</button>
  </form>
</ion-content>
