<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let p of pages">
      <span menuClose (click)="openPage(p)">{{p.title}}</span>
    </ion-item>
  </ion-list>
</ion-content>
