<ion-header #head>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (click)="openPage('SearchPage', {mode: 'createdAlerts'})" placeholder="Buscar en mis alertas creadas" mode="ios">
    </ion-searchbar>

  </ion-navbar>
</ion-header>


<ion-content auto-hide [header]="head">

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item text-center text-wrap *ngIf="noAlertsCreated">
    Aún no has creado alertas.
  </ion-item>

  <ion-card *ngFor="let alert of alerts" class="alert-preview">
    <ion-item class="alert-header">
      <ion-avatar item-start (click)="openPage('ProfilePage', { userId: alert.userId, email: alert.email })">
        <!--<img src="assets/imgs/default-profile.jpg" [hidden]="alert.userImg.__zone_symbol__state">-->
        <img-loader [src]="alert.userImg" useImg></img-loader>
      </ion-avatar>
      <h2>
        <span style="width:10%; display:inline-block;" (click)="openPage('ProfilePage', { userId: alert.uid, email: alert.userData.__zone_symbol__value.email })"><b> {{ alert.displayName }}</b></span>
        <span style="text-align: right;width:85%; display:inline-block;"><a (click)="presentPopover($event, alert)"><ion-icon name="ios-more"></ion-icon></a></span>
      </h2>
      <p>{{alert.registDate | timeAgo }} · <ion-icon name="md-globe"></ion-icon></p>
    </ion-item>

    <ion-item class="image-container" *ngIf="alert.images.length>0">
      <ion-slides pager (ionSlideNextStart)="loadNextImage(alert.id)">
        <ion-slide *ngFor="let img of alert.images; let i = index" class="img-slide" (click)="viewPhoto(img.src)">
          <img-loader [src]="img.src" useImg (load)="onImageLoad($event)"></img-loader>
          <!--
                    <img src="assets/imgs/default.png" class="file-container" (load)="loaded = false" [hidden]="loaded">
                    <img [src]="img.src" class="file-container" *ngIf="img.type=='jpg' && img.visible==1" (load)="loaded = true">

                    <video [src]="img.src" class="file-container" controls *ngIf="img.type=='mp4' && img.visible==1" (load)="loaded = true"></video>
          -->
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item class="item-chapa">
      <p><b> Fecha: </b> {{ alert.alertDate }} </p>
      <p *ngIf="alert.chapasNo.length>0"><b> Chapa: </b> <span class="chapa-span" *ngFor="let chapa of alert.chapasNo">{{ chapa }}</span> </p>
    </ion-item>

    <ion-card-content>
      <div *ngIf="alert.description.length <= readLimit">{{alert.description}}</div>
      <div *ngIf="alert.truncating && alert.description.length > readLimit">
        {{alert.description | truncate : readLimit}}
        <a (click)="alert.truncating = false">leer más</a>
      </div>
      <div *ngIf="!alert.truncating && alert.description.length > readLimit">
        {{alert.description}}
        <a (click)="alert.truncating = true">mostrar menos</a>
      </div>
    </ion-card-content>


    <ion-row style="height: 1.5em !important; padding-left: 0.9em !important;">
      <ion-col *ngIf="alert.likesCount>0">
        <ion-icon name="ios-thumbs-up"></ion-icon> {{alert.likesCount}}
      </ion-col>
      <ion-col *ngIf="alert.commentsCount>0" class="comments-col">
        {{alert.commentsCount}} comentario{{alert.commentsCount > 1 ? 's' : ''}}
      </ion-col>
    </ion-row>

    <ion-row class="item-pie">

      <ion-col>
        <button ion-button icon-left clear small (click)='likeIt(alert)'>
          <ion-icon [name]="alert.userLiked == 0 ? 'ios-thumbs-up-outline' : 'ios-thumbs-up'"></ion-icon>
          <div>Me gusta</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="presentModal('CommentsPage', {alertId: alert.id})">
          <ion-icon name="ios-text-outline"></ion-icon>
          <div>{{ alert.comments }} Comentarios</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-spinner [hidden]="!loading"></ion-spinner>
  
  <ion-fab right bottom>
    <button ion-fab primary (click)="openPage('ManageAlertPage')"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
