page-created-alerts {
 .alert-preview {
    margin: 0 !important;
    width: 100%;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .card-md {
    margin: 5px 0px !important;
    width: 100%;
  }

  ion-content.has-refresher > .scroll-content {
    background-color: #FAFAFA;
  }

  .item-cabecera, .item-pie {
    border-bottom: 1px solid #F2F2F2 !important;
  }

  .item-pie, .item-chapa {
    border-top: 1px solid #F2F2F2 !important;
  }

  .swiper-slide {
    margin: auto;
  }

  .image-container {
    max-width: 100% !important;
    padding-left: 0 !important;
  }

  .file-container {
    display: block;
    object-fit: cover;
  }

  .image-container > div {
    padding-right: 0px !important;
  }
  /* puede que no todos sean label-md o que afecte otros elementos */
  .label-md {
    margin-right: 0 !important;
  }

  .img-slide {
    max-height: 300px !important;
    height: 300px !important;
    background-color: black !important;
  }

  .chapa-span {
    color: #800000;
    border-radius: 2px 2px 2px;
    border: 1px solid #800000;
    display: inline-block;
    margin-right: 2px;
    padding: 2px;
  }

  .comments-col {
    text-align: right;
  }
}
